.page-node-type-article {
  .layout-container {
    background-color: $arctic-grey;
  }
  .lead-article-image img {
    display: block;
    width: 100%;
  }
  .in-article-image {
    margin-bottom: 23px;
    figcaption {
      background-color: $arctic-grey;
      line-height: 1.4;
      padding: 11px 12px;
      font-family: 'Open Sans', sans-serif;
      .caption {
        font-size: 14px;
        font-weight: 400;
        font-weight: 700;
        color: $color_5;
      }
      .credit {
        font-size: 11px;
        font-weight: 400;
        color: $black-magic;
        margin-left: 2px;
      }
    }
  }

  main {
    background-color: $color_3;
  }
  .region-breadcrumb{
    margin-bottom: 10px;
  }

  h1.page-title {
    font-size: 36px;
    color: $color_1;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
  }

  .section-head {
    margin: 0;
    border-bottom: none;
  }

  .field--name-field-subtitle {
    color: $slate-grey;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
    padding: 0 12px;
  }

  .field-name-dynamic-token-fieldnode-comments-count-inline,
  .field-name-dynamic-copy-fieldnode-comments-count-inline2 {
    margin-left: 16px;
    border-right: 1px solid $aspen-silver;
    padding-right: 16px;
    .icon.comments {
      width: 38px;
      height: 38px;
    }
    .count-number {
      color: $comments;
      font-weight: bold;
      vertical-align: top;
      line-height: 38px;
      text-decoration: none;
    }
  }
  .field-name-dynamic-copy-fieldnode-comments-count-inline2{
    margin-left: 0;
    margin-top: 8px;
    border-top: 1px solid $aspen-silver;
    border-right: none;
    padding-right: 0;
    padding-top: 8px;
    text-align: center;
  }

  .field-name-dynamic-token-fieldnode-addthis-inline-share {
    border-right: 1px solid $aspen-silver;
    padding-right: 16px;
    .social-sites {
      margin: 0;
      a {
        width: 38px;
        height: 38px;
        font-size: 20px;
      }
    }
  }

  .field-name-field-article-category {
    font-family: $font_family_3;
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;
    a{
      padding: 8px 24px;
      display: inline-block;
      color: #fff;
      text-decoration: none;
      background-color: $primary-color;
      text-transform: uppercase;
    }

  }

  .side-sharebar {
    border: 0;
    display: none;
    float: left;
    width: 50px;
  }

  @media (min-width: $tablet) {
    .side-sharebar {
      display: block;
    }
  }

  .up-next {
    background: $black-magic;
    font-size: 0;
    margin-bottom: 32px;
    margin-top: -32px;
    overflow: hidden;
    position: relative;
    * {
      //Instead of the line below you could use @include box-sizing($bs)
      box-sizing: border-box;
    }
    h5 {
      font-weight: 400;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .up-next--share {
    display: block;
    height: 34px;
    padding: 6px 12px;
    h5 {
      color: $white;
      display: inline-block;
      float: left;
      font-size: 9px;
      margin-top: 7px;
    }
    div {
      display: inline-block;
      float: right;
      text-align: right;
      width: 120px;
    }
    a {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border-radius: 50%;
      color: $white;
      cursor: pointer;
      display: inline-block;
      font-size: 11px;
      height: 22px;
      margin: 0 0 0 8px;
      position: relative;
      text-align: center;
      transition: transform .1s ease-out,background .2s;
      vertical-align: middle;
      width: 22px;
      z-index: 1;
      &:after {
        border-radius: 50%;
        box-shadow: 0 0 0 2px $color_6;
        box-sizing: content-box;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0;
        padding: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        transform: scale(.9);
        width: 100%;
        z-index: -1;
      }
    }
  }
  .up-next--details {
    background: $heavy-metal;
    padding: 12px;
    position: relative;
    &:before {
      border-color: transparent transparent $heavy-metal;
      border-style: solid;
      border-width: 0 0 98px 54px;
      content: "";
      display: block;
      height: 0;
      left: -54px;
      position: absolute;
      top: 0;
      transition: all .15s;
      width: 0;
    }
    .thumbnail {
      display: inline-block;
      height: 36px;
      line-height: 36px;
      margin: 0;
      overflow: hidden;
      position: relative;
      text-align: center;
      width: 80px;
      &:before {
        color: $white;
        content: "\f144";
        display: block;
        font-family: $font_family_2;
        font-size: 20px;
        left: 0;
        position: absolute;
        top: 0;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: font-size .1s linear;
        width: 100%;
      }
      &.not-loaded {
        background-color: #000;
        img {
          display: none;
        }
      }
      &:hover:before {
        font-size: 30px;
      }
    }
    img {
      height: 100%;
      width: auto;
    }
    div {
      display: inline-block;
      padding: 0 0 0 12px;
      vertical-align: top;
      width: calc(100% - 100px);
      h5 {
        color: $gold;
        font-size: 11px;
        margin: 0 0 6px;
      }
      a {
        color: $white;
        display: block;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.4;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &:hover .thumbnail:before {
      font-size: 25px;
    }
  }


  .article-wrapper {
    margin-top: 20px;

    &::after {
      clear: both;
      content: ' ';
      display: table;
    }
  }

  @media (min-width: $tablet) {
    h1.page-title {
      font-size: 38px;
      margin: 0 12px;
    }
    .in-article-image {
      figcaption {
        padding-left: 10px;
      }
    }
    .field--name-field-subtitle{
      padding: 0;
    }
    .field--name-field-article-body{
      padding-left: 60px;
      p {
        font-size: 16px;
        font-weight: 400;
        color: $black-magic;
        line-height: 1.8;
        margin-bottom: 23px;
        padding: 0;
      }
    }

    .up-next--share {
      display: inline-block;
      padding: 24px 24px 0;
      vertical-align: top;
      width: 220px;
      h5 {
        display: block;
        font-size: 11px;
        font-weight: 700;
        margin: 0 0 10px;
      }
      div {
        float: left;
        text-align: center;
      }
      a {
        font-size: 16px;
        height: 32px;
        margin: 0 8px 0 0;
        width: 32px;
      }
    }
    .up-next--details {
      display: inline-block;
      padding: 21px 24px 21px 12px;
      width: calc(100% - 220px);
      .thumbnail {
        height: 56px;
        line-height: 56px;
        width: 100px;
        &:before {
          font-size: 25px;
        }
        &:hover:before {
          font-size: 35px;
        }
      }
      div {
        padding: 8px 0 0 18px;
        h5 {
          font-weight: 700;
        }
        a {
          font-size: 16px;
        }
      }
      &:hover .thumbnail:before {
        font-size: 30px;
      }
    }
  }

  @media (min-width: $notebook) {

    h1.page-title {
      font-size: 50px;
    }
    .in-article-image {
      figcaption {
        padding-left: 12px;
      }
    }
    .article-wrapper {
      display: flex;
      position: relative;
      margin-top: 15px;

      $separator-border: 3px;
      $columns-space-around: 32px;
      $aside-width: 300px;

      .related-column {
        border-left: $separator-border solid $arctic-grey;
        flex-shrink: 0;
        padding-left: $columns-space-around;
        width: $aside-width;

        > * {
          display: block;
          overflow: hidden;
          position: relative;

          &:not(:empty) {
            margin-bottom: $sidebar-element-spacing;
          }
        }
        .no-bottom-margin {
          margin-bottom: 0;
        }

        .heading {
          border-bottom: 2px solid $arctic-grey;
          font-size: 13px;
          font-weight: bold;
          letter-spacing: 1px;
          margin-bottom: 12px;
          padding-bottom: 12px;
          text-transform: uppercase;
        }
      }

      .content-column {
        margin-right: $columns-space-around;
        max-width: 626px;
      }
    }
  }
  .field--name-field-subtitle{
    font-size: 18px;
  }

  @media (min-width: $desktop) {

    main {
      box-sizing: border-box;
      max-width: $desktop;
      padding: 24px 0;
      margin: 24px auto;
    }

    .region-page-title, .region-content {
      margin-left: 32px;
      margin-right: 32px;
    }

    h1.page-title {
      font-size: 53px;
      margin: 0 0 20px;
      &:before {
        background-color: $primary-color;
        content: '';
        height: calc(100% - 25px);
        left: -32px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 8px;
      }
    }
    .in-article-image {
      figcaption {
        padding-left: 17px;
      }
    }
    .field--name-field-subtitle {
      font-size: 20px;
    }

    .article-wrapper {
      .content-column {
        max-width: 800px;
      }
    }

    .up-next {
      margin: 0;
      top: -10px;
      .up-next--share {
        padding: 24px 24px 0;
      }
      .up-next--details {
        padding: 21px 24px 21px 12px;
        width: calc(100% - 220px);
      }
    }

  }

  .related-column {
    .sidebar-view {
      .list-heading {
        background-color: $midnight-coal;
        border-top: 5px solid $primary-color;
        color: #fff;
        padding: 8px;
        margin: 0 0 24px;
        font-weight: 700;
      }
      .teaser.social {
        border-bottom: 1px solid $arctic-grey;
        margin: 0 0 12px !important;
        padding-bottom: 12px;
        font-size: 13.5px;
        figure {
          width: 50%;
        }
        .inner {
          width: 50%;
        }
      }

    }
  }

}