.node--type-page.node--view-mode-full {
  background-color: $white;
  margin: 0 auto;
  max-width: 1240px;
  padding-top: 20px;

  h1 {
    font-size: 36px;
    color: $black-magic;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-bottom: 20px;
    padding: 0 12px;
    position: relative;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 24px;
    color: $black-magic;
    margin-bottom: 23px;
    padding: 0 12px;
  }

  a {
    font-weight: bold;
    text-decoration: none;
    word-wrap: break-word;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    font-family: $font_family_1;
    font-size: 16px;
    color: $black-magic;
    line-height: 1.7;
    margin-bottom: 23px;
    padding: 0 12px;
  }

  img {
    background-size: cover;
    height: auto;
    max-width: 688px;
    width: 100%;
  }

  ul,
  ol {
    font-family: $font_family_1;
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 20px;
    padding: 0 12px;

    li {
      line-height: 2;
      padding-bottom: 10px;
      position: relative;

      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  ul {
    list-style-type: disc;

    >li {
      margin-left: 20px;
      padding-left: 10px;
    }
  }

  ol {

    >li {
      margin-left: 16px;
      padding-left: 14px;
    }
  }

  table {
    border-collapse: collapse;
    display: block;
    margin-bottom: 23px;
    overflow-x: auto;
    width: 100%;

    tr {
      background-color: $aspen-silver;

      &:nth-child(even) {
        background-color: $arctic-grey;
      }

      &:first-child {
        td,
        th {
          font-size: 16px;
          font-weight: 600;
          line-height: 26px;
          padding: 10px 16px;
        }
      }
    }

    td,
    th {
      font-family: $font_family_1;
      font-size: 14px;
      border-bottom: 2px solid $white;
      line-height: 20px;
      min-width: 150px;
      padding: 6px 16px;
    }

    th {
      font-weight: bold;
    }
  }

  .no-app {
    display: none;
  }

}

@media (min-width: $tablet) {
  .node--type-page.node--view-mode-full {
    h1 {
      font-size: 38px;
      padding: 0;
    }

    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol {
      padding: 0;
    }

    p {
      line-height: 1.8;
    }
  }
}

@media (min-width: $notebook) {
  .node--type-page.node--view-mode-full {
    h1 {
      font-size: 50px;
      padding: 0;
    }

    h2 {
      line-height: 1.4;
      padding: 0;
    }
  }
}

@media (min-width: $desktop) {
  .node--type-page.node--view-mode-full {

    h1 {
      font-size: 53px;

      &:before {
        content: '';
        height: calc(100% - 25px);
        left: -32px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 8px;
      }
    }

    h2 {
      line-height: 1.4;
    }
  }

  .page-node-type-page {
    main {
      .node--type-page.node--view-mode-full {
        padding-left: 32px;
        padding-right: 32px;
      }
    }
  }
}

.page-node-type-page .node--type-page.node--view-mode-full {
  h2 {
    font-size: 31px;
    font-weight: 600;
  }

  h3 {
    font-size: 26px;
    font-weight: 700;
  }
}

