$color_1: #141414;
$color_2: $primary-color;
$color_3: #FFFFFF;
$color_4: #979797;
$color_5: #2C2C2C;
$color_6: #E0E0E0;
$color_7: #009C33;
$color_8: #FAFAFA;
$color_9: #F1F1F1;
$color_10: #626262;
$color_11: transparent;
$color_12: #494949;
$font_family_1: 'Open Sans', sans-serif;
$font_family_2: "FontAwesome";
$font_family_3: 'Open Sans Condensed', sans-serif;

/*========================================  BBC VIDEO =============================================*/
.vxp-column--single {
    padding-left: 8px;
    padding-right: 8px;
}
.vxp-carousel__container {
    position: relative;
}
.vxp-carousel__gradient, .vxp-carousel__gradient-front {
    display: none;
}
.vxp-carousel__gradient-front:before, .vxp-carousel__gradient:before {
    border-radius: 20px/20%;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.vxp-carousel__stream-outer {
    margin-bottom: -20px;
    overflow: hidden;
    position: relative;
}
.vxp-carousel__stream {
    overflow: hidden;
    position: relative;
}
.vxp-carousel__list {
    -webkit-font-smoothing: subpixel-antialiased;
    left: 0;
    margin: 0 0 20px;
    padding: 0 185px;
    vertical-align: top;
    white-space: nowrap;
    display: inline-flex;
    transition: all 1s ease-in-out;
}
.index-title--front-page, .markets-index-dropdown__button span, .off-screen {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
.vxp-carousel__list:after {
    clear: both;
}
.vxp-carousel__list:before, .vxp-carousel__list:after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
}
.vxp-badge {
    bottom: 0;
    left: 0;
    position: absolute;
}
.vxp-carousel__item {
    display: inline-block;
    margin-right: 6px;
    max-width: 185px;
    vertical-align: top;
    width: 185px;
    .vxp-badge {
	    background-color: #fff;
	    bottom: -1px;
	    left: -1px;
	}
}
.vxp-carousel__image {
    background-color: #f0f0f0;
    display: block;
    overflow: hidden;
    position: relative;
    img {
    	transition: opacity 0.2s ease-in;
    	opacity: 1;
    }
}
.vxp-label {
    background-color: #cc0101;
    box-sizing: border-box;
    display: none;
    padding: 5px 8px 3px;
    position: absolute;
    z-index: 2;
    span {
	    color: #fff;
    	text-transform: uppercase;
    }
}
.mini-info-list {
    padding: 0;
}
.vxp-related-content__info-list .mini-info-list__date, .vxp-recommended__info-list .mini-info-list__date, .vxp-label span, .vxp-related__info-list .mini-info-list__date, .vxp-embedded-player__date {
    font-size: 0.75rem;
    line-height: 1.33333;
}
.responsive-image {
    background-color: #f0f0f0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30%;
    position: relative;
    img {
	    height: 100%;
	    position: absolute;
	    width: 100%;
	    display: block;
	}
}
.vxp .responsive-image--16by9, .vxp .responsive-image--image-fallback {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}
.vxp-badge__icon {
    background: transparent url(../../images/vxp-icons-sprite.png) no-repeat;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 32px;
    width: 28px;
}
.vxp-badge__icon--video {
    background-color: #fff;
    background-position: 0 -439px;
}
.vxp-badge__text {
    background-color: #fff;
    color: #000;
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    padding-left: 0.6em;
    padding-right: 0.6em;
    text-align: center;
    text-transform: uppercase;
}
.vxp-carousel__body {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    padding-top: 6px;
}
.vxp-carousel__headline-link {
	text-decoration: none;
    display: block;
    color: #222;
}
.vxp-carousel__headline {
    font-weight: bold;
    margin-bottom: 6px;
    white-space: normal;
    font-size: 0.875rem;
    line-height: 1.28571;
    display: block;
}
.vxp-carousel__summary, .vxp-carousel__labels, .vxp-carousel__mask {
    display: none;
}
.mini-info-list__item {
    display: inline-block;
    margin-bottom: 2px;
    margin-top: 2px;
}
.vxp-carousel__info-list {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    white-space: nowrap;
    .mini-info-list__item {
	    vertical-align: middle;
	}
}
.date--v2 {
	font-size: .8125rem;
    line-height: 1.23077;
    background-image: url(../../images/news--icons-sprite.png);
    background-position: left -4011px;
    background-repeat: no-repeat;
    color: #5a5a5a;
    margin-left: -10px;
    padding-left: 28px;
}
.vxp-carousel__share-tools {
    display: none;
}
.navigation-arrow {
    position: relative;
}
.secondary-navigation--wide {
    background-color: #fff;
    display: none;
    visibility: hidden;
    font-size: .875rem;
    line-height: 1.28572;
}
.vxp-page--1280 .vxp-secondary-nav--wide .navigation-wide-list {
    max-width: none;
}
.navigation-wide-list {
    height: 35px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.navigation-wide-list--secondary {
    background-color: transparent;
}
.navigation-wide-list__link, .navigation__more-button {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 0 4px 12px;
    text-decoration: none;
}
.navigation-wide-list--secondary .navigation-wide-list__link, .navigation-wide-list--secondary .navigation__more-button {
    color: #222;
    padding-top: 10px;
}
.navigation-wide-list--secondary .selected .navigation-wide-list__link, .navigation-wide-list--secondary .selected.secondary-navigation__title, .navigation-wide-list--secondary .selected.navigation__more-button-container, .navigation-wide-list--secondary .navigation-wide-list__link:hover, .navigation-wide-list--secondary .navigation-wide-list__link:focus {
    border-bottom: 4px solid #bb1919;
}
.secondary-navigation--wide .secondary-navigation__title {
    padding-bottom: 2px;
    padding-left: 8px;
    padding-top: 7px;
}
.navigation-wide-list--secondary .navigation-wide-list__link>span {
    border-right: 1px solid #dcdcdc;
}
.navigation-wide-list__link>span {
    border-right: 1px solid #bb4545;
    display: block;
    padding-right: 12px;
}
.vxp-secondary-nav--wide .navigation-wide-list__link span {
    border-right: 1px solid #d2d2d2;
}
.navigation-wide-list__link span, .navigation__more-button span {
    line-height: 26px;
}
.vxp-secondary-nav--wide .navigation-wide-list__link--section span {
    border-right: 0;
}
.secondary-navigation__title a {
    text-decoration: none;
}
.secondary-navigation__title.navigation-wide-list__link span {
    border-right: 0;
    line-height: 1.375rem;
    font-size: 20px;
}
.vxp-secondary-nav--wide span {
    color: #222;
}
.secondary-navigation--narrow .secondary-navigation__title {
    display: block;
    float: none;
    padding-bottom: 8px;
    padding-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
}
.secondary-navigation--narrow.secondary-navigation--narrow-closed .secondary-navigation__title {
    background: #fff;
    border-bottom: 1px solid #ededed;
    color: #222;
}
.narrow-primary-navigation-open .navigation__section, .navigation--narrow, .secondary-navigation--narrow, .navigation--bottom {
    background-color: #000;
    color: #fff;
}
.secondary-navigation--narrow-closed {
    background-color: #fff;
}
.vxp-map .vxp-carousel-component, .vxp-headlines .vxp-carousel-component, .vxp-must-see .vxp-carousel-component {
    margin-top: 22px;
}
.vxp-carousel__pagination {
    position: absolute;
    right: -3px;
    top: 40px;
    visibility: hidden;
    width: 104px;
    z-index: 4;
    a {
        text-decoration: none;
    }
    span {
        display: block;
        height: 25px;
        margin: 12px auto;
        text-indent: -1000em;
        width: 21px;
    }
}
.vxp-carousel__next-btn, .vxp-carousel__prev-btn {
    background: #404040;
    float: left;
    height: 50px;
    width: 50px;
}
.vxp-carousel__next-btn.vxp-carousel__btn--disabled, .vxp-carousel__prev-btn.vxp-carousel__btn--disabled {
    cursor: default;
    opacity: 0.4;
}
.vxp-carousel__prev-btn span {
    background: url(../../images/news-icons-sprite.png) -5px -7px no-repeat;
    background-size: 32px;
    height: 25px;
    width: 21px;
}
.vxp-carousel__next-btn {
    margin-left: 1px;
}
.vxp-carousel__next-btn span {
    background: url(../../images/news-icons-sprite.png) -5px -107px no-repeat;
    background-size: 32px;
    height: 25px;
    width: 21px;
}
.vxp-carousel__next-btn:focus,.vxp-carousel__next-btn:hover,.vxp-carousel__prev-btn:focus,.vxp-carousel__prev-btn:hover {
    background: #cb0000
}
.cn-carousel-medium-matrix .carousel--fixed, .cn-carousel-medium-strip .carousel--fixed, .cn-grid-add-carousel .carousel--fixed {
    overflow: hidden;
}
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.cn-jumbotron-card-details.owl-loaded, .jumbotron-small-carousel.owl-loaded, .owl-carousel.owl-loaded, .video__end-slate__carousel.owl-loaded {
    display: block;
}
.cn-jumbotron-card-details .owl-stage-outer, .jumbotron-small-carousel .owl-stage-outer, .owl-carousel .owl-stage-outer, .video__end-slate__carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}
@media (min-width: 480px) {
	.vxp-column--single {
	    padding-left: 16px;
	    padding-right: 16px;
	}
    .secondary-navigation--narrow .secondary-navigation__title {
        margin-left: 16px;
        margin-right: 16px;
    }
    .cn-carousel-medium-matrix .carousel--fixed, .cn-carousel-medium-strip .carousel--fixed, .cn-grid-add-carousel .carousel--fixed {
        padding-left: 40px;
        padding-right: 40px;
    }
    .cn-collection-player .cn-carousel-medium-strip .owl-carousel, .el__leafmedia--featured-video-collection .cn-carousel-medium-strip .owl-carousel, .el__leafmedia--featured-video-player .cn-carousel-medium-strip .owl-carousel, .el__leafmedia--video-leaf-player .cn-carousel-medium-strip .owl-carousel {
        padding: 0 30px;
    }
}

@media (min-width: 600px) {
	.secondary-navigation--wide {
	    display: block;
	    visibility: visible;
	}
	.navigation__section, .navigation--narrow, .secondary-navigation--narrow, .navigation--footer {
	    display: none;
	    visibility: hidden;
	}
    .vxp-carousel__stream-outer {
        margin-left: -185px;
        margin-right: -185px;
    }

}
@media (max-width: 599px) {
    .vxp-carousel__list {
        padding: 0;
    }
    .vxp-carousel__pagination {
        display: none;
    }
    .vxp-secondary-nav--narrow .secondary-navigation__link-text {
        display: inline-block;
    }
}
@media (max-width: 768px) and (min-width: 600px){
    .vxp-carousel__pagination {
        display: none;
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .vxp-carousel__pagination {
        display: block;
        visibility: visible;
    }
}
@media (min-width: 1025px) and (max-width: 1279px) {
	#page.vxp {
	    position: static;
	}
    .vxp-carousel__pagination {
        display: block;
        visibility: visible;
    }
    .vxp-carousel__gradient-front {
        background-image: -webkit-linear-gradient(left, #fff, rgba(255,255,255,0.8));
        left: -185px;
    }
    .vxp-carousel__gradient,.vxp-carousel__gradient-front {
        bottom: 0;
        display: block;
        position: absolute;
        top: 0;
        width: 185px;
        z-index: 3
    }
}
@media (min-width: 1280px) {
	#page.vxp {
	    position: static;
	}
	.vxp-column--single {
	    margin-left: auto;
	    margin-right: auto;
	    padding-left: 0;
	    padding-right: 0;
	    width: 976px;
	}
	.vxp-page--1280 .vxp-column--single {
	    width: 1248px;
	}
	.vxp-carousel__gradient-front {
	    background-image: -webkit-linear-gradient(left, #fff, rgba(255,255,255,0.8));
	    left: -185px;
	}
	.vxp-carousel__gradient {
    	background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.8), #fff);
	    right: -185px;
    }
	.vxp-carousel__gradient,.vxp-carousel__gradient-front {
        bottom: 0;
        display: block;
        position: absolute;
        top: 0;
        width: 185px;
        z-index: 3
    }
	.secondary-navigation--wide .navigation-wide-list {
	    max-width: 1248px;
	    padding-right: 0;
	}
    .vxp-carousel__pagination {
        display: block;
        visibility: visible;
    }
}
/*=================================================================================================*/
/*========================================  CNN VIDEO =============================================*/
.l-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}
.video-panel {
    margin-top: 20px;
}
.video-main-panel {
    line-height: 1.2857142;
}
.main-video {
    overflow: hidden;
    padding: 0;
    position: relative;
}
.related-videos-title {
    background: none;
    display: block;
    margin: 0 0 10px;
    padding: 0;
    font-size: .9333333333rem;
}
.related-main-videos {
    overflow: hidden;
    position: relative;
    z-index: 1;
    touch-action: pan-y;
}
.related-view-area {
    position: relative;
    overflow: hidden;
}
.related-real-view {
    position: relative;
}
.video-item {
    opacity: 1;
    user-select: auto;
    display: inline-block;
    vertical-align: top;
    transition: opacity .2s;
    position: relative;
    min-height: 1px;
    float: left;
}
.white-video-wrapper{
    margin-bottom: 10px;
}
.four-column-grid .white-video-item {
    margin-right: 6px;
    width: 25%;
    float: left;
}
.three-column-grid .white-video-item {
    margin-right: 10px;
    width: 33.33%;
    float: left;
}
.two-column-grid .white-video-item {
    width: 50%;
    float: left;
}
.four-column-grid .whitetv-item-4col4 {
    margin-left: -20px;
    margin-right: 0px;
    .white-video-card-body {
        margin-left: 20px;
        padding-right: 0;
    }
}
.three-column-grid .whitetv-item-3col3 {
    margin-left: -20px;
    margin-right: 0px;
    .white-video-card-body {
        margin-left: 20px;
        padding-right: 0;
    }
}
.two-column-grid .whitetv-item-2col1 {
    .white-video-card-body {
        padding-right: 5px;
    }
}
.two-column-grid .whitetv-item-2col2 {
    .white-video-card-body {
        padding-left: 5px;
        padding-right: 0px;
    }
}
.white-video-card-body {
    padding: 10px 0 0;
    padding-right: 20px;
}
.video-card {
    width: auto;
}
.related-view-nav {
    width: 100%;
    div {
        opacity: 1;
        overflow: hidden;
        padding: 5px;
        text-align: left;
        text-indent: -120000px;
        width: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 3;
        &:before {
            padding: 0;
            top: 50%;
            position: absolute;
            text-indent: 0;
            vertical-align: middle;
            font-style: normal;
        }
    }
}
.related-view-prev {
    left: 0;
    &:before {
        left: 0;
        width: .55em;
        content: "\f053";
        font-family: "FontAwesome";
    }
}
.related-view-next {
    right: 0;
    &:before {
        right: 0;
        width: .55em;
        content: "\f054";
        font-family: "FontAwesome";
    }
}
.video-card-wrapper {
    
}
.video-media-img {
    height: 79px;
    width: 100%;
}
.video-media {
    display: block;
    opacity: .6;
    font-size: 14px;
    width: 100%;
    height: 79px;
    position: relative;
    overflow: hidden;
    transition: opacity .3s;
}
.video-media:hover {
    .media-time-icon:before {
        color: #c00;
    }
}
.white-video-media {
    display: block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.white-video-media:hover {
    .white-video-media-time-icon:before {
        color: #c00;
    }
}
.video-media-img {
    height: 79px;
    width: 100%;
    transition: opacity .4s ease;
    transform-style: preserve-3d;
}
.white-video-media-img {
    height: auto;
    width: 100%;
    display: block;
}
.media-time-icon {
    background: hsla(0,0%,5%,.3);
    color: #fefefe;
    padding: 5px;
    font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    font-style: normal;
}
.media-time-icon:after {
    content: attr(data-post-text);
    font-weight: 400;
    font-size: .8rem;
    margin-left: 5px;
}
.media-time-icon:before {
    content: "\f144";
    font-family: "FontAwesome";

}
.white-video-media-time-icon {
    background: hsla(0,0%,5%,.3);
    color: #fefefe;
    padding: 5px;
    font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    font-style: normal;    
}
.white-video-media-time-icon:before {
    content: "\f144";
    font-family: "FontAwesome";

}
.white-video-media-time-icon:after {
    content: attr(data-post-text);
    font-style: normal;
    font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: .9333333333rem;
    line-height: 1.2857142857;
    margin-left: 5px;
}
.video-content-headline {
    opacity: .6;
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: .9333333333rem;
    line-height: 1.2857142857;
}
.video-content-headline:hover {
    color: #c00;
}
.white-video-content-headline{
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 1.3333333333rem;
    font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
    line-height: 1.2;
    padding-right: 10px;
}
.black-video-content-headline{
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 1.3333333333rem;
    font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
    line-height: 1.2;
    padding-right: 10px;
    color: #fefefe;
}
.white-video-content-headline:hover {
    color: #c00;
}
.black-video-content-headline:hover {
    color: #c00;
}
.video-item:hover {
    .video-media {
        opacity: 1;
    }
    .video-content-headline {
        opacity: 1;
    }
}
.video-content {
    padding: 0;
}
.white-video-content {
    padding: 7px 0;
    position: relative;
}
.video-description-wrapper {
    display: none;
    margin: 0 auto 20px;
    overflow: hidden;
}
.video-description-headline {
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 2.1333333333rem;
    line-height: 1.25;
    color: #262626;
}
.video-description-body {
    color: #737373;
    font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 1.2rem;
    line-height: 1.6666666667;
}
.mobile-video-description-body {
    padding: 10px 0 0;
    color: #737373;
    font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 1.2rem;
    line-height: 1.6666666667;
    float: left;
}
.video-description-social-panel {
    padding: 0;
    display: inline-table;
    position: relative;
    width: 100%;
}
.mobile-video-description-social-panel {
    padding: 10px 0 0;
    display: inline-table;
    position: relative;
    width: 100%;
    float: left;
}
.video-description-social-bar {
    float: left;
    width: 100%;
    padding-left: 0px;
    margin: 15px 0;
}
.video-description-social-main {
    float: left;
    text-align: center;
}
.video-card-body {
    padding: 0;
    transition: color .3s;
    cursor: pointer;
    margin: 0 20px 0 0;
    position: relative;
    width: 140px;
}
.video-social-item {
    display: block;
    float: left;
    margin: 0 0 0 15px;
    overflow: visible;
    vertical-align: top;
    height: 35px;
    width: 35px !important;
    border-radius: 18px;
    -webkit-transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s,-webkit-transform .5s;
    font-size: 1.5666666667rem;
    line-height: 1.4;
    cursor: pointer;
    &:before {
        margin-top: 3px;
    }
}
.social-email {
    margin-left: 0;
    background-color: #76c155;
    color: #fff;
    &:before {
        padding-bottom: 5px;
        content: "\f0e0";
        font-family: "FontAwesome";
    }
}
.social-facebook {
    background-color: #3b5998;
    color: #fff;
    &:before {
        content: "\f09a";
        font-family: "FontAwesome";
    }
}
.social-twitter {
    background-color: #00abec;
    color: #fff;
    &:before {
        content: "\f099";
        font-family: "FontAwesome";
    }
}
.social-more {
    background-color: #ca1f27;
    color: #fff;
    &:before {
        content: "\f141";
        font-family: "FontAwesome";
    }
}
.video-description-panel {
    display: none;
}
.mobile-video-description-panel {
    
}
.mobile-video-description-wrapper {
    display: block;
    margin: 0 auto 20px;
    overflow: hidden;
}
.mobile-video-description-social-main {
    text-align: center;
}
.white-video-top {
    background: linear-gradient(180deg,#eee,hsla(0,0%,100%,.95));
    min-height: 55px;
    margin-top: 20px;
}
.black-video-top {
    background: linear-gradient(180deg,#eee,hsla(0,0%,100%,.95));
}
.white-video-header-text {
    color: #262626;
    overflow: hidden;
    padding: 0 0 15px;
    margin: 0;
    position: relative;
    width: 100%;
}
.black-video-header-text {
    color: #fefefe;
    overflow: hidden;
    padding: 0 0 15px;
    margin: 0;
    position: relative;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 300;
}
.white-video-header-stripes {
    display: inline-block;
    height: 16px;
    vertical-align: bottom;
    &:after {
        height: 1px;
        border-bottom: 4px solid #d9d9d9;
        border-top: 4px solid #d9d9d9;
        content: "";
        display: inline-block;
        position: absolute;
        width: 100%;
    }
}
.black-video-header-stripes {
    display: inline-block;
    height: 16px;
    vertical-align: bottom;
    &:after {
        height: 1px;
        border-bottom: 4px solid #c00;
        border-top: 4px solid #c00;
        content: "";
        display: inline-block;
        position: absolute;
        width: 100%;
    }
}
.white-video-container {
    overflow: hidden;
}

@media (min-width: 480px) {
    .related-main-videos {
        padding: 0 30px;
        display: block;
    }
    .white-video-header-text {
        font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        font-size: 1.6rem;
        line-height: 1.25;
    }
}
@media (min-width: 640px) {
    .video-card {
        width: 160px;
    }
    .mobile-video-description-body {
        clear: left;
        max-width: 60%;
    }
    .mobile-video-description-social-panel {
        clear: right;
        padding-top: 10px;
        max-width: 40%;
    }
    .mobile-video-description-social-main {
        float: right;
    }
}
@media (min-width: 960px) {
    .mobile-video-description-wrapper {
        display: none;
    }
    .video-main-panel {
        padding-right: 320px;
    }
    .video-main-body {
        float: left;
        width: 100%;
    }
    .video-description-panel {
        float: right;
        margin-right: -320px;
        width: 300px;
        display: block;
    }
    .video-description-wrapper {
        display: block;
        width: 300px;
    }
    .video-description-social-bar {
        margin: 35px 0;
    }
}
@media (min-width: 1120px) {
    .l-container {
        overflow: hidden;
        position: relative;
    }
    .video-card {
        width: 160px;
    }
}