<div class="teaser teaser-highlight teaser-prominent molecule-featured">
    <figure data-mod="image">
        <a href="">
            {{> atoms-molecule-featured-image-mobile }}
        </a>
        {{> atoms-play-button }}
    </figure>
    <figure class="desktop" data-mod="image">
        <a href="">
            {{> atoms-molecule-featured-image }}
        </a>
        {{> atoms-play-button }}
    </figure>
    <div class="inner section-theme-border">
        {{> atoms-molecule-featured-headline}}
        {{> atoms-molecule-featured-description}}
    </div>
</div>