<div class="teaser teaser-highlight teaser-prominent">
    {{> atoms-wide-heading-back }}
    <figure data-mod="image">
        <a href="">
            {{> atoms-wide-heading-main }}
        </a>
        {{> atoms-play-button }}
    </figure>
    <div class="inner section-theme-border">
        {{> atoms-wide-heading-label }}
        {{> atoms-wide-heading-headline }}
        {{> atoms-wide-heading-comment }}
        {{> atoms-wide-heading-description }}
    </div>
</div>