<div class="teaser teaser-highlight">
    <figure data-mod="image">
        <a href="">
            {{> atoms-card-image }}
        </a>
        {{> atoms-play-button }}
    </figure>
    <div class="inner section-theme-border">
        {{> atoms-large-tile-label }}
        {{> atoms-large-tile-headline }}
        {{> atoms-large-tile-description }}
    </div>
</div>