<div class="teaser teaser-highlight teaser-prominent">
    <figure data-mod="image">
        <a href="">
            {{> atoms-large-card-image }}
        </a>
        {{> atoms-play-button }}
    </figure>
    <div class="inner section-theme-border">
        {{> atoms-large-card-label }}
        {{> atoms-large-card-headline }}
        {{> atoms-large-card-comment }}
        {{> atoms-large-card-description }}
    </div>
</div>