<div class="teaser teaser-highlight">
    <figure data-mod="image">
        <a href="">
            {{> atoms-number-card-image }}
        </a>
    </figure>
    <div class="inner section-theme-border">
        {{> atoms-number-card-label }}
        {{> atoms-number-card-headline }}
        {{> atoms-number-card-description }}
    </div>
</div>