<div class="teaser teaser-opinion section-theme-background-with-transparency">
    <div class="inner">
        {{> atoms-author-name }}
        {{> atoms-opinion-description }}
    </div>
    {{> atoms-opinion-comment }}
    <figure data-mod="image">
        <a href="#">
            {{> atoms-opinion-image }}
        </a>
    </figure>
</div>