<div class="vxp-secondary-nav-component">
    <div class="vxp-column--single">
        <div class="vxp-secondary-nav--wide secondary-navigation secondary-navigation--wide">
            <nav class="navigation-wide-list navigation-wide-list--secondary" role="navigation">
                {{> atoms-category-title}}
            </nav>
        </div>
    </div>
    <div class="vxp-secondary-nav--narrow">
        <div class="secondary-navigation secondary-navigation--narrow secondary-navigation--narrow-closed">
            <nav class="secondary-navigation-narrow-list" role="navigation">
                {{> atoms-mobile-category-title}}
                <ul class="secondary-navigation--bottom__toplevel">
                </ul>
            </nav>
        </div>
    </div>
</div>