<li class="vxp-carousel__item vxp-carousel__item--selected" data-index="0" data-uri="/news/av/world-us-canada-44349212/are-presidential-pardons-trump-s-secret-weapon">
    <div class="vxp-carousel__image">
        {{> atoms-story-nowplay}}
        {{> atoms-story-item-image}}
        {{> atoms-story-time}}
    </div>
    <div class="vxp-carousel__body">
        {{> atoms-story-item-title}}
        {{> atoms-story-item-desc}}
        {{> atoms-story-item-date}}
    </div>
</li>