<div class="mobile-video-description-panel">
    <div class="mobile-video-description-wrapper">
        {{> atoms-video-headline}}
        {{> atoms-mobile-video-description}}
        {{> atoms-mobile-video-social}}
    </div>
</div>