<div class="video-item active" style="width: auto;">
    <div class="video-card" >
        <article class="video-card-body">
            <div class="video-card-wrapper">
                <div class="video-media">
                    <a>
                        {{> atoms-video-image}}
                        {{> atoms-video-time}}
                    </a>
                </div>
                <div class="video-content">
                    {{> atoms-video-content-headline}}
                </div>
            </div>
        </article>
    </div>
</div>