<div class="video-description-panel">
    <div class="video-description-wrapper">
        {{> atoms-video-headline}}
        {{> atoms-video-description}}
        {{> atoms-video-social}}
    </div>
</div>