<div class="white-video-item {{whitetv2col}} {{whitetv3col}} {{whitetv4col}}">
	<article class="white-video-card-body">
		<div class="white-video-card-wrapper">
			<div class="white-video-media">
				<a>
					{{> atoms-white-video-image}}
          			{{> atoms-white-video-time}}
				</a>
			</div>
			<div class="white-video-content">
				{{> atoms-black-video-content-headline}}
			</div>
		</div>
	</article>
</div>