<div class="teaser">
    <figure data-mod="image">
        <a href="">
            {{> atoms-teaser-thumb }}
        </a>
        {{> atoms-play-button }}
    </figure>
    <div class="inner">
        {{> atoms-white-nopublication-headline }}
    </div>
</div>