<footer>
    <nav class="navigation menu--footer">
        <ul class="menu">
            {{# footerSectionList}}
            <li><a href="#">{{title}}</a></li>
            {{/ footerSectionList}}
        </ul>
    </nav>
	<div class="social-links">
		<h4>Follow us
			<ul>
				{{# socialList}}
				<li><a class="icon {{title}}" title="{{title}}" href="#" target="_blank"></a></li>
				{{/ socialList}}
			</ul>
		</h4>
	</div>
	<div class="kitemarks">
		{{# kitemarkList}}
		<a class="{{title}}"></a>
		{{/ kitemarkList}}
	</div>
    <nav class="navigation menu--utility-menu">
        <ul class="menu">
            {{# footerList}}
            <li><a href="#">{{title}}</a></li>
            {{/ footerList}}
        </ul>
    </nav>
</footer>