<header id="top_header" class="mod-header header navbar-fixed-top">
    <div class="top_header_bg">
        <a id="logo" href="/">{{logoText}}</a>
        <div class="icon" id="hamburger" href="/">
        	{{ loadnavigation }}
		    <span></span>
		</div>
        <nav class="navigation menu--main">
		    <ul data-level="1">
		        <li class="has-children">
		            <span data-drupal-link-system-path="<front>">{{newsLabel}}</span>
		            <ul data-level="2" class="">
		            	{{# newsList}}
		                <li>
		                    <a href="">
		                        {{title}}
		                    </a>
		                </li>
		                {{/ newsList}}
		            </ul>
		            <a class="icon toggle">{{expandLabel}}</a>
		        </li>
		        <li>
		            <a href="">{{politicsLabel}}</a>
		        </li>
		        <li class="has-children">
		            <a href="">{{sportLabel}}</a>
		            <ul data-level="2" class="">
		            	{{# sportList}}
		                <li>
		                    <a href="">
		                        {{title}}
		                    </a>
		                </li>
		                {{/ sportList}}
		                <li class="has-child-group">
		                    <a href="">
		                        {{othersportLabel}}
		                    </a>
		                    <ul data-level="3">
		                    	{{# otherSportsList}}
		                        <li>
		                            <a href="">
		                                {{title}}
		                            </a>
		                        </li>
		                        {{/ otherSportsList}}
		                    </ul>
		                    <a class="icon toggle">{{expandLabel}}</a>
		                </li>
		            </ul>
		            <a class="icon toggle">{{expandLabel}}</a>
		        </li>
		        <li>
		            <a href="">Football</a>
		        </li>
		        <li>
		            <a href="">Celebs</a>
		        </li>
		    </ul>
		</nav>
        <div id="signin">
		    <span class="label show">
		        <span class="">
		            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
		        </span>
		    </span>
		    <span class="bubble-wrapper">
		        <span class="name">
		            
		        </span>
		        <ul class="bubble">
		            <li> 
		                <a id="sso-my-account" href="">
		                    {{myAccountLabel}}
		                </a>
		            </li>
		            <li class="hidden sso-subscriptions">
		                <a id="sso-subscriptions" href="#">
		                    {{subscription}}
		                </a>
		            </li>
		            <li> 
		                <a id="sso-logout" href="#">
		                    {{signout}}
		                </a>
		            </li>
		        </ul>
		    </span>
		</div>

        <div class="search">
		    <button class="icon icon-search" id="search-icon" type="button">
		        
		    </button>
		</div>
		<div class="search-box hidden">
		    <gcse:searchbox-only resultsurl=""></gcse:searchbox-only>
		</div>
		
        <div class="social-sites">
		    <ul>
		    	{{# socialList}}
		        
		        <li>
		            <a class="icon {{title}}" href="">
		            </a>
		        </li>

		        {{/ socialList}}
		    </ul>
		</div>
    </div>
    <div class="region region-header">
        Aaa
    </div>
</header> <!--End of header -->

<!-- Header left menu bar -->
<div id="header-dropdown" class="active">
    <nav class=" navigation menu--main">
        <section>
        	<ul data-level="1">
		        <li class="has-children">
		            <span data-drupal-link-system-path="<front>">{{newsLabel}}</span>
		            <ul data-level="2" class="">
		            	{{# newsList}}
		                <li>
		                    <a href="">
		                        {{title}}
		                    </a>
		                </li>
		                {{/ newsList}}
		            </ul>
		            <a class="icon toggle">{{expandLabel}}</a>
		        </li>
		        <li>
		            <a href="">{{politicsLabel}}</a>
		        </li>
		        <li class="has-children">
		            <a href="">{{sportLabel}}</a>
		            <ul data-level="2" class="">
		            	{{# sportList}}
		                <li>
		                    <a href="">
		                        {{title}}
		                    </a>
		                </li>
		                {{/ sportList}}
		                <li class="has-child-group">
		                    <a href="">
		                        {{othersportLabel}}
		                    </a>
		                    <ul data-level="3">
		                    	{{# otherSportsList}}
		                        <li>
		                            <a href="">
		                                {{title}}
		                            </a>
		                        </li>
		                        {{/ otherSportsList}}
		                    </ul>
		                    <a class="icon toggle">{{expandLabel}}</a>
		                </li>
		            </ul>
		            <a class="icon toggle">{{expandLabel}}</a>
		        </li>
		        <li>
		            <a href="">Football</a>
		        </li>
		        <li>
		            <a href="">Celebs</a>
		        </li>
		    </ul>
        </section>
    </nav>
    <nav class="footer">
        <section>
            <ul data-level="1">
            	{{# footerList}}
                <li>
                    <a href="">{{title}}</a>
                </li>
                {{/ footerList}}
            </ul>
        </section>
    </nav>
</div>
<!-- End of header left menu bar -->