.breadcrumb {
  @include open-sans-bold(11px);
  display: none;
  margin: 0 12px 10px;

  a {
    color: $charcoal;
    display: inline-block;
    margin-left: 10px;
    margin-right: 9px;
    position: relative;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ol {
    list-style-type: none;
  }

  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: -3px;

    &:first-child > a {
      background: $primary-color;
      height: 25px;
      margin: 0;
      overflow: hidden;
      text-indent: 100%;
      width: 25px;
    }

    &:not(:first-child):before {

      @include arrow('left');

      border: 4px solid $primary-color;
      border-right-width: 0;
      content: '';
      display: inline-block;
    }
  }
  @media (min-width: 1024px) {
      display: block;
  }
}

.publication-theme-border, .publication-theme-border:before {
  border-color: $primary-color !important;
}

@media (min-width: $desktop) {
  .breadcrumb {
    margin: 0 32px 10px;
  }
}
