.byline {
  align-items: center;
  box-sizing: border-box;
  display: block;
  padding: 0 12px;
  width: 100%;

  ul li {
    list-style-type: none;
  }
}

@media (min-width: $tablet) {
  .article-information {
    flex-grow: 1;
    padding: 0 16px;
    position: relative;
    color: $charcoal;

    .profile {
      margin-top: 6px;
      font-size: 15px;
      font-weight: 700;
      display: inline-block;
      line-height: 1.3;
      text-decoration: underline;
      color: $primary-color;
    }

    .field-name-node-post-date {
      margin-top: 3px;
      bottom: 3px;
      position: relative;
      font-size: 11px;
    }
  }
}

@media (min-width: $notebook) {
  .byline {
    border-bottom: 1px solid $aspen-silver;
    border-top: 1px solid $aspen-silver;
    display: flex;
    padding: 6px 0;
  }
}

@media (min-width: $desktop) {
  .byline {
    padding: 10px 0;
    .article-information {
      margin-top: -2px;
    }
  }

}