.paging {
  background: $arctic-grey;
  margin: 12px 0 0;
  padding: 12px;
  text-align: center;

  ul {
    background: $white;
    border: 1px solid $aspen-silver;
    border-radius: 5px;
    display: inline-block;
    font-size: 0;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;

    li {
      border-right: 1px solid $aspen-silver;
      display: inline-block;
      font-size: 12px;
      line-height: 13px;


      &:last-child {
        border-right: 0 transparent;
      }

      &.active a {
        background: $primary-color;
        color: $white;
        cursor: default;
      }

      // scss-lint:disable SelectorDepth, NestingDepth
      a {
        color: $primary-color;
        display: block;
        font-weight: 700;
        text-decoration: none;
        vertical-align: text-bottom;
        font-size: 14px;
        padding: 12px 24px;

        &:hover {
          background-color: $primary-color;
          color: $white;
        }
      }

      &.pagi-previous,
      &.pagi-next {
        a {
          padding: 12px 24px;
        }
      }

      &.disabled a {
        padding: 12px 24px;

        &:after {
          color: $aspen-silver;
        }

        &:hover {
          background: none;
          cursor: default;
        }
      }

      &.pagi-previous {
        &,
        &.disabled {
          a:after {
            @include icon(chevron-left);
          }
        }
      }

      &.pagi-next {
        &,
        &.disabled {
          a:after {
            @include icon(chevron-right);
          }
        }
      }
    }
  }
}
