{{> organisms-header }}

<main class="mod-pancakes">

    {{> molecules-google-ad }}
    {{> molecules-landing-page-title }}
    {{> organisms-featured-and-teasers }}

    <div class="pancake use-image-placeholders solo featured maximum">
        {{> molecules-wide-heading }}
    </div>

    {{> organisms-four-tiles }}

    {{# listItems.four }}
        {{> organisms-sub-category }}
    {{/ listItems.four }}
</main>

{{> organisms-footer }}