{{> organisms-header }}

<main class="mod-pancakes">
    {{> molecules-landing-page-title }}
    {{> organisms-featured-and-teasers }}

    {{> organisms-four-opinions }}

    <div class="pancake use-image-placeholders solo featured maximum channel-{{ channelClass}}">
        {{> molecules-wide-heading }}
    </div>

    {{> organisms-four-tiles }}

    {{# listItems.four }}
        {{> organisms-sub-category }}
    {{/ listItems.four }}
</main>



{{> organisms-footer }}



