{{> organisms-header }}

<main class="mod-pancakes">

    {{> molecules-google-ad }}
    {{> molecules-landing-page-title }}
    {{> organisms-articles-with-sidebar }}

    {{> molecules-pager }}

</main>

{{> organisms-footer }}