{{> organisms-header }}
	<div id="page" class="vxp vxp-headlines vxp-page--1280" style="min-height: 0px;">
	    {{> molecules-video-category}}
	    {{> organisms-top-story}}
	    {{> organisms-video-panel}}
		{{> organisms-white-panel}}
	</div>
	{{> organisms-black-panel}}
{{> organisms-footer }}