{{> organisms-header }}

<main role="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="layout-content">
        <div class="region region-breadcrumb">
            {{> molecules-breadcrumbs}}
        </div>
        <div class=" region region-page-title">
            {{> molecules-landing-page-title }}
        </div>
        <div class="region region-content">

            <div id="block-armdaily-content" class="block block-system block-system-main-block">

                <div class="field field--name-field-subtitle field--type-string field--label-hidden field__item">
                    The Mirror's exclusive poll found British voters are more likely to back the party that pumps more cash into the NHS
                </div>

                <div class="byline">
                    <div class="field field-name-dynamic-token-fieldnode-addthis-inline-share">
                        <div class="social-sites">
                            <ul>
                                <li><a class="icon facebook" href=""></a></li>
                                <li><a class="icon twitter" href=""></a></li>
                                <li><a class="icon pinterest" href=""></a></li>
                                <li><a class="icon instagram" href=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="field field-name-dynamic-token-fieldnode-comments-count-inline">
                        <p><a class="icon comments" href="#disqus" title="Comments">&nbsp;</a>
                            <a class="count-number" data-disqus-identifier="node/12" href="#disqus_thread" title="Comments">2</a></p>
                    </div>
                    <div class="article-information">
                        <div class="profile" typeof="schema:Person" about="/user/1">
                            <div class="field field--name-field-full-name field--type-string field--label-hidden field__item">Lev Ananikyan</div>
                        </div>
                        <div class="field field-name-node-post-date">
                            Tue, 05/29/2018 - 08:19
                        </div>
                    </div>
                    <div class="field-name-field-article-category">
                        <div class="taxonomy-term vocabulary-categories-en" about="/taxonomy/term/10" id="taxonomy-term-10">
                            <h2>
                                <a href="/taxonomy/term/10"><div class="field field--name-name field--type-string field--label-hidden field__item">Business</div></a>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="article-wrapper">

                    <div class="content-column">

                        <figure class="in-article-image lead-article-image" itemprop="image" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
                            <meta itemprop="url" content="https://i2-prod.mirror.co.uk/incoming/article12643830.ece/ALTERNATES/s615/General-Election-National-Health-Service.jpg">
                            <meta itemprop="width" content="615">
                            <meta itemprop="height" content="409">
                            <img srcset="https://i2-prod.mirror.co.uk/incoming/article12643830.ece/ALTERNATES/s508/General-Election-National-Health-Service.jpg 508w, https://i2-prod.mirror.co.uk/incoming/article12643830.ece/ALTERNATES/s810/General-Election-National-Health-Service.jpg 810w" src="https://i2-prod.mirror.co.uk/incoming/article12643830.ece/ALTERNATES/s615/General-Election-National-Health-Service.jpg" alt="" content="https://i2-prod.mirror.co.uk/incoming/article12643830.ece/ALTERNATES/s615/General-Election-National-Health-Service.jpg">
                            <figcaption>
                                <span class="caption" itemprop="description">The Mirror's poll looks at what you think should happen with NHS funding</span>
                                <span class="credit" itemprop="author"> (Image: Getty Images Europe)</span>
                            </figcaption>
                        </figure>

                        <div class="clearfix text-formatted field field--name-field-article-body field--type-text-long field--label-hidden field__item">
                            <p>Commodo justo quos sapien eius diam quisque. Blanditiis. Suscipit! Posuere? Mattis sint at tempor proident condimentum autem dicta, porro, euismod, mauris accusantium nisi nunc aute egestas aspernatur tempus! Quibusdam, cubilia. Posuere quisquam conubia corrupti reprehenderit hymenaeos? Cillum eiusmod quasi autem perspiciatis pede blandit ea nullam sollicitudin dignissim laborum, ex eaque anim, tempore, reprehenderit perspiciatis, habitant, risus rerum aptent dolorem nunc! Maiores tenetur platea, lorem aperiam hendrerit dictum scelerisque dictum. Odit! Tellus! Maxime! Consequat sodales doloribus, fuga nesciunt taciti praesentium arcu? Magni. Porttitor iure aliquip quibusdam elit saepe primis. Incidunt quisquam blanditiis proin optio porta necessitatibus ut itaque proin optio animi;</p>
                            <h2>Herf of</h2>
                            <p>At quos sapien eius diam quisque.  Mattis sint at tempor proident condimentum autem dicta, porro, euismod, mauris accusantium nisi nunc aute egestas. Lpede blandit ea nullam sollicitudin dignissim laborum, ex eaque anim, tempore, reprehenderit perspiciatis, habitant, risus rerum aptent dolorem nunc! Maiores tenetur platea, lorem aperiam hendrerit dictum scelerisque dictum. Odit! Tellus! Maxime! Consequat sodales doloribus, fuga nesciunt taciti praesentium arcu? Magni. Porttitor iure aliquip quibusdam elit saepe primis. Incidunt quisquam blanditiis proin optio porta necessitatibus ut itaque proin optio animi;</p>
                        </div>

                    </div>

                    <aside class="related-column secondary">
                        {{> organisms-teasers-list-sidebar }}
                    </aside>

                </div>

                <div class="field field--name-field-disqus field--type-disqus-comment field--label-inline">
                    <div class="field__label">Disqus</div>
                </div>

            </div>

        </div>
    </div>
</main>

{{> organisms-footer }}