{{> organisms-header }}

<main role="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="layout-content">
        <div class="region region-breadcrumb">
            {{> molecules-breadcrumbs}}
        </div>
        <div class=" region region-page-title">
            {{> molecules-landing-page-title }}
        </div>
        <div class="region region-content">

            <div id="block-armdaily-content" class="block block-system block-system-main-block">

                <div class="field field--name-field-subtitle field--type-string field--label-hidden field__item">
                    The Mirror's exclusive poll found British voters are more likely to back the party that pumps more cash into the NHS
                </div>

                <div class="byline">
                    <div class="field field-name-dynamic-token-fieldnode-addthis-inline-share">
                        <div class="social-sites">
                            <ul>
                                <li><a class="icon facebook" href=""></a></li>
                                <li><a class="icon twitter" href=""></a></li>
                                <li><a class="icon pinterest" href=""></a></li>
                                <li><a class="icon instagram" href=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="field field-name-dynamic-token-fieldnode-comments-count-inline">
                        <p><a class="icon comments" href="#disqus" title="Comments">&nbsp;</a>
                            <a class="count-number" data-disqus-identifier="node/12" href="#disqus_thread" title="Comments">2</a></p>
                    </div>
                    <div class="article-information">
                        <div class="profile" typeof="schema:Person" about="/user/1">
                            <div class="field field--name-field-full-name field--type-string field--label-hidden field__item">Lev Ananikyan</div>
                        </div>
                        <div class="field field-name-node-post-date">
                            Tue, 05/29/2018 - 08:19
                        </div>
                    </div>
                    <div class="field-name-field-article-category">
                        <div class="taxonomy-term vocabulary-categories-en" about="/taxonomy/term/10" id="taxonomy-term-10">
                            <h2>
                                <a href="/taxonomy/term/10"><div class="field field--name-name field--type-string field--label-hidden field__item">Business</div></a>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="article-wrapper">

                    <div class="content-column">
                        <div class="video-embed-field-provider-youtube video-embed-field-responsive-video">
                            <section class="videowrapper ytvideo">
                                <iframe width="860" height="615" src="https://www.youtube.com/embed/LTSdEkpM67M?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </section>
                        </div>
                        <div class="up-next">
                            <div class="up-next--share">
                                <h5>Share this video</h5>
                                <div><a class="icon facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://www.mirror.co.uk/news/politics/no-theresa-isnt-giving-nhs-12726157&amp;title=Theresa%20May%20admits%20where%20she'll%20get%20the%20NHS%20funding%20from"></a><a class="icon twitter" target="_blank" href="https://twitter.com/intent/tweet?url=https://www.mirror.co.uk/news/politics/no-theresa-isnt-giving-nhs-12726157&amp;text=Theresa%20May%20admits%20where%20she'll%20get%20the%20NHS%20funding%20from"></a><a class="icon pinterest" target="_blank" href="https://pinterest.com/pin/create/button/?is_video=true&amp;url=https://www.mirror.co.uk/news/politics/no-theresa-isnt-giving-nhs-12726157&amp;description=Theresa%20May%20admits%20where%20she'll%20get%20the%20NHS%20funding%20from&amp;media=https://bcsecure01-a.akamaihd.net/24/4221396001/201806/1851/4221396001_5798479341001_5798475324001-th.jpg?pubId=4221396001&amp;videoId=5798475324001"></a></div>
                            </div>
                            <div class="up-next--details"><a class="article-url thumbnail" href="//www.mirror.co.uk/news/politics/jeremy-corbyn-officially-launches-labours-10432368"><img src="//i2-prod.mirror.co.uk/article10432776.ece/ALTERNATES/s405v/MAIN-What-is-in-the-Labour-manifesto-Everything-Jeremy-Corbyn-is-promising-YOU-if-he-wins-2017-general-election.jpg"></a>
                                <div>
                                    <h5>Watch Next</h5><a class="article-url" href="//www.mirror.co.uk/news/politics/jeremy-corbyn-officially-launches-labours-10432368">Jeremy Corbyn officially launches Labour's election manifesto 'for the many, not the few'</a>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix text-formatted field field--name-field-article-body field--type-text-long field--label-hidden field__item">
                            <p>Commodo justo quos sapien eius diam quisque. Blanditiis. Suscipit! Posuere? Mattis sint at tempor proident condimentum autem dicta, porro, euismod, mauris accusantium nisi nunc aute egestas aspernatur tempus! Quibusdam, cubilia. Posuere quisquam conubia corrupti reprehenderit hymenaeos? Cillum eiusmod quasi autem perspiciatis pede blandit ea nullam sollicitudin dignissim laborum, ex eaque anim, tempore, reprehenderit perspiciatis, habitant, risus rerum aptent dolorem nunc! Maiores tenetur platea, lorem aperiam hendrerit dictum scelerisque dictum. Odit! Tellus! Maxime! Consequat sodales doloribus, fuga nesciunt taciti praesentium arcu? Magni. Porttitor iure aliquip quibusdam elit saepe primis. Incidunt quisquam blanditiis proin optio porta necessitatibus ut itaque proin optio animi;</p>
                            <h2>Herf of</h2>
                            <p>At quos sapien eius diam quisque.  Mattis sint at tempor proident condimentum autem dicta, porro, euismod, mauris accusantium nisi nunc aute egestas. Lpede blandit ea nullam sollicitudin dignissim laborum, ex eaque anim, tempore, reprehenderit perspiciatis, habitant, risus rerum aptent dolorem nunc! Maiores tenetur platea, lorem aperiam hendrerit dictum scelerisque dictum. Odit! Tellus! Maxime! Consequat sodales doloribus, fuga nesciunt taciti praesentium arcu? Magni. Porttitor iure aliquip quibusdam elit saepe primis. Incidunt quisquam blanditiis proin optio porta necessitatibus ut itaque proin optio animi;</p>
                        </div>

                    </div>

                    <aside class="related-column secondary">
                        {{> organisms-teasers-list-sidebar }}
                    </aside>

                </div>

                <div class="field field--name-field-disqus field--type-disqus-comment field--label-inline">
                    <div class="field__label">Disqus</div>
                </div>

            </div>

        </div>
    </div>
</main>

{{> organisms-footer }}