<img src="{{ teaserhero-img.teaserhero-mobile.src }}" content="{{ teaserhero-img.teaserhero-mobile.src }}" alt="" srcset="{{ teaserhero-img.teaserhero-mobile.src }} 508w, {{ teaserhero-img.teaserhero-mobile.src }} 810w, {{ teaserhero-img.teaserhero-desktop.src }} 1176w">
