<img src="{{ teasersocial-img.teaser-social.src }}" srcset="{{ teasersocial-img.teaser-social.src }} 180w, {{ teasersocial-img.teaser-social.src }} 390w, {{ teasersocial-img.teaser-social.src }} 458w">