<div class="featured-image mod-backgroundImage" data-mod="backgroundImage" style="background-image: url(&quot;{{wideheading.wideheading-back.src}}&quot;); background-size: 100%; background-position: 50% 50%;">
</div>