
<div class="pancake use-image-placeholders duet primary">
    {{# teaserMidList}}
        {{> molecules-large-tile }}
    {{/ teaserMidList}}
</div>
<div class="pancake use-image-placeholders duet social secondary">
    {{> molecules-number-card }}

    {{# teaserSocialList}}
        {{> molecules-small-teaser }}
    {{/ teaserSocialList}}
</div>
