	<div class="pancake use-image-placeholders solo splash primary channel-{{ channelClass }}">
        {{> molecules-large-card }}
    </div>
    <div class="pancake use-image-placeholders duet primary">
        {{# largeTile}}
            {{> molecules-large-tile }}
        {{/ largeTile}}
    </div>