
    <div class="pancake use-image-placeholders solo wide primary channel-{{ channelClass }}">
        {{> molecules-heading }}
    </div>
    <div class="pancake use-image-placeholders duet primary">
        {{# teaserMidList}}
            {{> molecules-large-tile }}
        {{/ teaserMidList}}
    </div>
    <div class="pancake use-image-placeholders duet social secondary">
        {{# teaserSocialList}}
            {{> molecules-small-teaser }}
        {{/ teaserSocialList}}
    </div>
