<div class="pancake use-image-placeholders ensemble channel-{{ channelClass }}">
    <h3 class="publication-font">
        <a class="section-theme-indicator" href="">{{ headline.short }}</a>
    </h3>
    {{> molecules-card }}
    <div class="pancake duet secondary">
        {{# teaserMainList}}
            {{> molecules-teaser }}
        {{/ teaserMainList}}
    </div>
</div>