<div class="pancake duet secondary" data-placeholder="data-placeholder">
    <div class="mostRead" >
        <section data-mod="mostRead">
            <div class="pancake publication-theme">
                <div data-mod="tabs" class="channel-travel2">
                    <div class="tab-content section-theme-inherit-background-indicator active" data-mod="tabs">
                        <div class="tab-content active" data-value="mostRead">
                            <div class="pancake use-image-placeholders ensemble">
                                {{> molecules-number-card }}
                                <div class="pancake duet secondary">
                                    {{# numberedTeaser}}
                                        {{> molecules-numbered-teaser }}
                                    {{/ numberedTeaser}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>