
<div class="sidebar-view tm-recs seldon-recs no-bottom-margin">
    <div class="list-heading">{{ title }}</div>
    {{# teaserSocialList}}
        {{> molecules-small-teaser }}
    {{/ teaserSocialList}}
</div>