
<div class="pancake use-image-placeholders solo featured maximum channel-{{ channelClass }}">
    {{> molecules-wide-heading }}
</div>
<div class="pancake use-image-placeholders quartet">
    {{# teaserHeaderList}}
        {{> molecules-tile }}
    {{/ teaserHeaderList}}
</div>
