<div class="vxp-carousel-component" role="complementary">
	<div class="vxp-carousel">
		<div class="vxp-column--single">
			<div class="vxp-carousel__container">
				<div class="vxp-carousel__gradient-front"></div>
				<div class="vxp-carousel__gradient"></div>
				<div class="vxp-carousel__stream-outer">
					<div class="vxp-carousel__stream">
						<a class="off-screen" id="video-44349212" aria-hidden="true" tabindex="-1"></a>
						<ul class="vxp-carousel__list" style="width: 2528px;">
							{{# tvStoryList}}
								{{> molecules-story-item }}
							{{/ tvStoryList}}
						</ul>
					</div>
				</div>
				{{> atoms-story-nav}}
	            <div class="vxp-carousel__labels">
	            </div>
			</div>
		</div>
	</div>
</div>