<div class="l-container video-panel">
	<div class="video-main-panel">
		<div class="video-main-body">
			{{> atoms-main-video}}
			{{> molecules-mobile-video-panel}}
			<div class="related-videos">
				<h2 class="related-videos-title">Today's Top News (16 videos)</h2>
				<div class="related-main-videos">
					<div class="related-view-area">
						<div class="related-real-view" style="transform: translate3d(-1440px, 0px, 0px);transition: 0s;width: 5120px;">
							{{# tvCnnVideoListActive}}
								{{> molecules-video-item-active}}
							{{/ tvCnnVideoListActive}}
						</div>
					</div>
					{{> atoms-related-video-nav}}
				</div>
			</div>
		</div>
		{{> molecules-video-description-panel}}
	</div>
</div>