{{> atoms-white-video-top}}
<div class="l-container">
	{{> atoms-white-video-header}}
	<div class="white-video-container">
		<div class="white-video-wrapper four-column-grid">
            <div class="pancake use-image-placeholders quartet">
                {{# whiteTvList}}
                    {{> molecules-whitetv-tile }}
                {{/ whiteTvList}}
            </div>
			<!--{{# whiteTvList}}-->
				<!--{{> molecules-white-video-item}}-->
			<!--{{/ whiteTvList}}-->
		</div>
	</div>
</div>