<nav class="breadcrumb breadcrumbs-news">
    <ol>
        <li class="publication-theme-border" ><a class="publication-theme-highlight publication-theme-icon" href="/"  >Home</a></li>

        <li class="publication-theme-border" ><a href="https://www.mirror.co.uk/news/"  >News</a></li>
        {{# listItems.two }}
            <li class="publication-theme-border" ><a href="{{ url }}">{{ headline.short }}</a></li>
        {{/ listItems.two }}
    </ol>
</nav>