<div class="pancake solo">
<!-- Full -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-0429326048967284"
     data-ad-slot="4497791644"></ins>
</div>