<div class="paging">
    <ul>
        <li class="pagi-previous disabled"><a href="#"></a></li>
        <li class="active"><a href="#pageNumber=1">1</a></li>
        <li><a href="#pageNumber=2">2</a></li>
        <li><a href="#pageNumber=3">3</a></li>
        <li><a href="#pageNumber=4">4</a></li>
        <li class="pagi-next"><a href="#pageNumber=2"></a></li>
    </ul>
</div>