<div class="vxp-carousel__pagination">
    <a href="#" tabindex="-1" class="vxp-carousel__prev-btn vxp-carousel__btn--disabled">
    	<span>Previous</span>
    </a>
    <a href="#" tabindex="-1" class="vxp-carousel__next-btn">
    	<span>Next</span>
	</a>
</div>