<div class="responsive-image responsive-image--16by9">
    <img src="{{tvstoryimageurl}}" class="responsive-image__image vxp-image-replace" alt="Photo montage" width="976" height="549" tabindex="-1">
</div>