<div class="vxp-badge">
    <span class="vxp-badge__icon vxp-badge__icon--video"></span>
    <span class="off-screen">Video duration </span>
    <span class="vxp-badge__text">{{tvstorytime}}</span>
</div>