<a href="#" class="vxp-carousel__headline-link">
    <span class="vxp-carousel__headline">{{tvstoryitemtitle}}</span>
</a>
<a href="#" class="vxp-carousel__jumpto-player off-screen" aria-hidden="false">Jump to media player</a>