<div class="vxp-carousel__info-list">
    <ul class="mini-info-list">
        <li class="mini-info-list__item">
            <div class="mini-info-list__date vxp-date date date--v2">{{tvstoryitemdate}}</div>
        </li>
    </ul>
</div>