<a class="secondary-navigation__title navigation-wide-list__link navigation-wide-list__link--section selected" href="">
    <span>{{tvcategorytitle}}</span>
</a>
<span class="off-screen">selected</span>
<ul data-panel-id="js-navigation-panel-secondary">
</ul>