<a class="secondary-navigation__title navigation-arrow selected" href="/news/video_and_audio/headlines/44349212/are-presidential-pardons-trump-s-secret-weapon">
	<div class="secondary-navigation__link-text">{{tvmobilecategorytitle}}</div>
	<span></span>
</a>