<div class="video-description-social-panel">
    <div class="video-description-social-bar">
        <div class="video-description-social-main">
            <div class="video-social-item social-email">
            </div>
            <div class="video-social-item social-facebook">
            </div>
            <div class="video-social-item social-twitter">
            </div>
            <div class="video-social-item social-more">
            </div>
        </div>
    </div>
</div>