// ICONS

@mixin icon($icon) {
  @include fa-icon;
  @extend .fa;
  @extend .fa-#{$icon}:before;
}

@mixin open-sans ($size) {
  font-family: 'Open Sans', sans-serif;
  font-size: $size;
  font-weight: 400;
}

@mixin open-sans-bold($size) {
  font-family: 'Open Sans', sans-serif;
  font-size: $size;
  font-weight: 700;
}

@mixin georgia-italic($size) {
	font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: $size;
    font-weight: 400;
    font-style: italic;
    line-height: 28px;
}

@mixin arrow($type) {
  $directions: top right bottom left;
  @each $dir in $directions {
    @if $dir != $type {
      border-#{$dir}-color: transparent !important; //sass-lint:disable-line no-important
    }
  }
}