$primary-color: #E90E0E;
$charcoal: #494949;
$black-magic: #141414;
$arctic-grey: #F1F1F1;
$slate-grey: #626262;
$aspen-silver: #E0E0E0;
$midnight-coal: #3A3A3A;
$heavy-metal: #2C2C2C;
$white: #FFF;
$gold: gold;

$desktop: 1240px;
$notebook: 1024px;
$tablet: 728px;

$sidebar-element-spacing: 48px;
