<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #141414;"></span>
		<span class="sg-label">
			$color_1 <br />
			#141414
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E90E0E;"></span>
		<span class="sg-label">
			$color_2 <br />
			#E90E0E
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFFFFF;"></span>
		<span class="sg-label">
			$color_3 <br />
			#FFFFF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #979797;"></span>
		<span class="sg-label">
			$color_4 <br />
			#979797
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2C2C2C;"></span>
		<span class="sg-label">
			$color_5 <br />
			#2C2C2C
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E0E0E0;"></span>
		<span class="sg-label">
			$color_6 <br />
			#E0E0E0
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #009C33;"></span>
		<span class="sg-label">
			$color_7 <br />
			#009C33
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FAFAFA;"></span>
		<span class="sg-label">
			$color_8 <br />
			#FAFAFA
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F1F1F1;"></span>
		<span class="sg-label">
			$color_9 <br />
			#F1F1F1
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #626262;"></span>
		<span class="sg-label">
			$color_10 <br />
			#626262
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: transparent;"></span>
		<span class="sg-label">
			$color_11 <br />
			transparent
		</span>
	</li>
</ul>
