// Footer
$steel-drum: #979797;
footer {
  background: $black-magic;
  padding: 48px 12px 56px;
  position: relative;
  z-index: 1;

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  nav.menu--footer > ul.menu {
    clear: both;
    padding-bottom: 24px;

    li {
      float: left;
      width: 50%;
    }

    a {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: $arctic-grey;
      display: block;
      font-weight: 600;
      overflow: hidden;
      padding: 10px 15px 10px 0;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }
    &:after { 
        clear: both;
        content: '.';
        display: block;
        height: 0;
        visibility: hidden;
    }
  }

  .social-links {
    border-bottom: 4px solid $black-magic;
    border-top: 4px solid $black-magic;
    padding: 24px 0;
    text-align: center;

    h4 {
      color: $white;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    ul {
      margin-top: 10px;
      text-align: center;
      padding: 0;
    }

    li {
      display: inline-block;
    }

    a {
      font-size: 18px;
      height: 40px;
      margin: 0 5px;
      width: 40px;
    }
  }

  nav.menu--utility-menu > ul.menu {
    padding-top: 24px;

    li {
      color: $steel-drum;
      display: inline-block;
      font-size: 12px;
      margin-bottom: 10px;
      padding-bottom: 2px;
      padding-top: 2px;
    }

    a {
      border-right: 1px solid $black-magic;
      color: inherit;
      display: block;
      margin: 0 10px 0 0;
      padding: 2px 10px 2px 0;

      &:hover {
        color: $white;
      }
    }

    [title*='Cookie'] {
      color: $white;
      font-weight: bold;
    }
  }

  .kitemarks {
    border-bottom: 4px solid $black-magic;
    padding: 10px 0;
    text-align: center;

    a,
    div {
      display: inline-block;
      margin: 0 10px;
    }
  }
  .ipso {
    background: url(../../images/main/ipso.svg) no-repeat center;
    background-size: 100%;
    height: 40px;
    width: 100px;
  }
  .trust-project {
    background: url(../../images/main/trust-project.svg) no-repeat center;
    background-size: 100%;
    height: 40px;
    width: 120px;
  }
}

@media (min-width: 728px) {
  footer {
    padding-bottom: 24px;
    padding-left: 32px;
    padding-right: 32px;

    nav.menu--footer > ul.menu {
      li {
        width: 33%;

        a {
          font-size: 18px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  footer {
    nav.menu--footer > ul.menu {
      li {
        width: 25%;
      }
    }
  }
}

@media (min-width: 1240px) {
  footer {
    padding-left: 0;
    padding-right: 0;

    ul,
    div {
      margin: 0 auto;
      width: 1156px;

      & [itemprop='publisher'] {
        width: 60px;
      }
    }
  }
}
