{{> organisms-header }}
<main class="mod-pancakes">
    <div class="topic-head channel-topic">
        <h1>FIFA World Cup 2018</h1>
    </div>
    <div class="pancake use-image-placeholders solo">
        {{> molecules-featured }}
    </div>
    <div class="pancake use-image-placeholders quartet">
        {{# teaserHeaderList}}
            {{> molecules-tile }}
        {{/ teaserHeaderList}}
    </div>
    <div class="pancake use-image-placeholders solo wide primary channel-sport">
        {{> molecules-heading }}
    </div>
    <div class="pancake use-image-placeholders duet primary">
        {{# largeTile}}
            {{> molecules-large-tile }}
        {{/ largeTile}}
    </div>
    <div class="pancake use-image-placeholders duet social secondary">
        {{# smallTeaser}}
            {{> molecules-small-teaser }}
        {{/ smallTeaser}}
    </div>
    <div class="pancake use-image-placeholders solo featured maximum channel-news">
        {{> molecules-wide-heading }}
    </div>
    <div class="pancake use-image-placeholders ensemble channel-sport">
        <h3 class="publication-font">
            <a class="section-theme-indicator" href="">Latest News</a>
        </h3>
        {{> molecules-card }}
        <div class="pancake duet secondary">
            {{# teaser}}
                {{> molecules-teaser }}
            {{/ teaser}}
        </div>
    </div>
    <div class="pancake use-image-placeholders solo splash primary channel-travel2">
        {{> molecules-large-card }}
    </div>
    <div class="pancake use-image-placeholders duet primary">
        {{# largeTile}}
            {{> molecules-large-tile }}
        {{/ largeTile}}
    </div>
    {{> organisms-teasers-card}}
    <div class="pancake use-image-placeholders quartet opinion channel-sport">
        {{# opinionList}}
            {{> molecules-opinion-teaser }}
        {{/ opinionList}}
    </div>
</main>
{{> organisms-footer }}