<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		
        <!--Theme custom css -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/pattern-scaffolding.css" media="all" />

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{{ patternLabHead }}}
		<!-- End Pattern Lab -->

        <!-- Google Ad -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({
                  google_ad_client: "ca-pub-0429326048967284",
                  enable_page_level_ads: true
             });
        </script>
        <!-- End Google Ad -->
	
	</head>
	<body class="main_body {{ bodyTopClass }}">
        <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
            <div class="layout-container {{ bodyClass }}">
		