<script src="../../js/jquery-1.11.2.min.js"></script>
<script src="../../js/main.js"></script>
			
	<!--DO NOT REMOVE-->
	        {{{ patternLabFoot }}}
	        </div>
        </div>
	</body>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</html>